.text-field {
    display: inline-block;
    margin: 0 24px;
}

.text-field label {
    display: block;
    margin: 2px 0;
    font-size: 20px;
}

.text-field input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 5px 0;
    border: none;
    font-size: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 8px;
}